.mat-card-content{
    width: 70%;
    margin: auto;
    padding: 5%;
    border-radius: 15px;
    margin-top: 3%;
    background-color: white;
}

.mat-card{
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
    background-color: #263179;
}

.example-full-width{
    width: 100%;
}

.btns{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5%;
    transition: background-color 0.3s;
}

#register,#login{
    background-color: #263179;
    color: white;
    transition: 0.3s;
}

#register:hover,
#login:hover{
    background-color: black;
    color: white;
}


.title{
    text-align: center;
    color:white;
    size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    margin: auto;
    padding: 5px 20px 5px 20px;
}

.img{
    height: 400px;
    /* box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3); */
}

.page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.left-sec{
    flex: 1;
    display: flex;
    justify-content: center;
}
.right-sec{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    position: fixed;
    height: fit-content;
    padding: 1%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #263179;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p{
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-bar{
    display: flex;
    gap: 20px;
    font-size: 17px;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav-bar button{
    transition: background-color 0.3s, color 0.3s;
}
.nav-bar button:hover{
    background-color: black;
    color: white;
}

.nav-bar a:hover::after{
    width: 100%;
}

.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


p{
    margin: 0px;
}


.loading-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color:white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    transition: display 0.5s;
}

.loading-page h3{
    font-size: 20px;
    color: #263179;
    letter-spacing: 3px;
    margin-top: 10%;
}

.centered{
    position: fixed;
	width:300px;
	height:300px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:50px;
	height:50px;
	position:absolute;
	background:#263179ff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:black;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}



@media (max-width:1000px){
    .page{
        flex-direction: column;
        padding-top: 80px;
    }

    .img{
        height: 300px;
        width: 400px;
    }

    .mat-card{
        width: 70%;
        align-self: center;
    }

}
